:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-niramit: "Niramit", sans-serif;
  --font-anuphan: "Anuphan", sans-serif;
  --font-kanit: "Kanit", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Hide scrollbar */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-niramit), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
